*{
  font-family: 'Space Mono', monospace;
}
.animation-blink{
  animation-name: blink;
  animation-duration: .7s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: steps(1, start);
}
@keyframes blink{
  50%{color: transparent}
}
.fade-in{
  animation-name: fade-in;
  animation-duration: 1s;
  /* animation-delay: .1s; */
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
@keyframes fade-in{
  0%{color: transparent; transform: rotateY(0deg) scale(0)}
  100%{color: #fff; transform: rotateZ(360deg) scale(1)}
}
.shake{
  animation-name: shake;
  animation-duration: .2s;
  animation-iteration-count: 2;
  animation-timing-function: linear;
}
@keyframes shake{
  0%{transform: translateX(0px)}
  25%{transform: translateX(4px)}
  50%{transform: translateX(0px)}
  75%{transform: translateX(-4px)}
  100%{transform: translateX(0px)}
}
